.table-scroll {
    overflow-x: auto;
  }
  
  .file-table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin: 20px 0;
  }
  
  .file-table th, .file-table td {
    border: 1px solid #d2e8f1;
    padding: 1em;
    word-wrap: break-word;
  }
  
  .file-table thead th {
    background-color: #4d9bc1;
    color: #fff;
    border: 1px solid #4d9bc1;
  }
  
  .file-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .file-table tbody tr:hover {
    background-color: #e0f7fa;
  }
  
  @media screen and (max-width: 787px) {
    .file-table {
      text-align: left;
    }
    .file-table thead {
      display: none;
    }
    .file-table th, .file-table td {
      display: block;
      border: 0;
      border-bottom: 1px solid #e6f1f6;
    }
    .file-table td::before {
      content: attr(data-label);
      color: #4d9bc1;
      font-weight: bold;
      display: inline-block;
      width: 30%;
      min-width: 4em;
    }
  }